root = true

[*] # applies to every file
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation / width
indent_style = space
indent_size = 4
max_line_length = 120

[*.md] # let mdformat handle wrapping
max_line_length = off

[*.sh] # shfmt also respects these
indent_size = 4
