# Global options for shellcheck (each flag on its own line)

# Ignore missing shebang inside hooks & sourced helper scripts
exclude=SC2148,SC1091

# Treat cosmetic issues as warnings (default is style)
severity=warning

# Allow following files referenced with relative paths
external-sources=true
